.hero-section {
    background-image: url('../../png/hero_image.jpg');
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
    width: 80%;
    margin-bottom: 25px;
    border-radius: 5px;
}

.hero-msg a {
    color: #007185;
    text-decoration: none;
}